
@keyframes cover {
	0% {background-image: url('style/img/cover_1.jpg');}
	45% {background-image: url('style/img/cover_1.jpg')}
	50% {background-image: url('style/img/cover_2.jpg')}
	95% {background-image: url('style/img/cover_2.jpg')}
}

.cover {
	background-image: url('style/img/cover_1.jpg');
	background-position: center;
	height: calc(100vh - 210px);
	background-size: cover;
	animation-name: cover;
	animation-iteration-count: infinite;
	animation-duration: 8s;
}
.cover_inner {
	background: rgba(0,0,0,0.75);
	height: calc(100vh - 210px);
}

.equ {
	width: 180px;
	height: 25px;
	background-size: 80% auto;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	background-color: #FFF;
	margin: 20px;
	overflow: hidden;
	padding-top: 190px;
	line-height: 0px;
	margin-top: -40px;
	box-shadow: 0px 0px 40px rgba(0,0,0,0.15);
	border-radius: 4px;
	font-weight: bold;
	color: #555;
	cursor: pointer;
	transition: 0.2s all;
	font-family: 'Roboto Light';
}

.equ:hover {
	background-size: 95% auto;
}

.equ_1 {background-image: url('style/img/equ_1.jpg');}
.equ_2 {background-image: url('style/img/equ_2.jpg');}
.equ_3 {background-image: url('style/img/equ_3.jpg');}
.equ_4 {background-image: url('style/img/equ_1.jpg');}

.equ_box {
	height: 300px;
	background: #EAEAEA;
}

.btn_all {
	width: 170px;
	line-height: 45px;
	background: #0033cc url('style/svg/down.svg') center no-repeat;
	background-size: 20px auto;
	background-position: 165px center;
	padding-right: 35px;
	color: #FFF;
	font-family: 'Roboto Regular';
	margin-top: 20px;
	border-radius: 4px;
	font-size: 14px;
	cursor: pointer;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.0);
	transition: all 0.2s;
}

.btn_all:hover {
	box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}

.title_box {
	padding-top: calc(50vh - 255px);
}

.tb_inner {
	height: 300px;
}

.tb_corp {;
	font-size: 50px;
	color: rgba(255,255,255,0.9);
	font-family: 'Roboto Regular';
}

.tb_main {
	font-size: 80px;
	color: rgba(255,255,255,1);
	font-family: 'Rockwell Regular';
}

.tb_line {
	height: 3px;
	width: 400px;
	margin-top: 10px;
	background: rgba(255,255,255,0.7);
}

.tb_btn_box {
	height: 50px;
	padding-top: 30px;
}

.tb_btn {
	line-height: 50px;
	width: 150px;
	background: #0033cc;
	color:  rgba(255,255,255,0.7);
	font-family: 'Roboto Light';
	display: inline-block;
	overflow: hidden;
	margin: 10px;
	border-radius: 4px;
	cursor: pointer;
}

.about_box {
	height: 450px;
	overflow: hidden;
	background: #111;
}

.about_box:hover > .ab_image {
	background-size: auto 550px;
}

.ab_image {
	width: 500px;
	height: 450px;
	background: url('style/img/img_1.jpg') no-repeat;
	background-size: auto 450px;
	background-position: center;
	float: left;
	transition: background 1s;
}

.ab_info {
	margin-left: 500px;
}

.ab_title {
	text-align: left;
	font-size: 40px;
	padding: 25px 30px 15px 30px;
	color: #FFF;
	font-family: 'Roboto Thin';
}

.ab_parag {
	text-align: justify;
	font-size: 18px;
	padding: 5px 30px 15px 30px;
	color: #FFF;
	font-family: 'Roboto Light';
	color: rgba(255,255,255,0.6);
}